/*  import google fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.788vw;
    line-height: 1.8;
    background: url(../images/spiral_staircase.png) no-repeat fixed;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 0.625em;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.3125em;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.indent {
    margin: 5em 0;
}

.indent-edu {
    margin: 0;
}

/* all similar content styling codes */

section {
    padding: 1.5rem 0;
}

.max-width {
    width: 68.75vw;
    max-width: 68.75vw;
    padding: 0 5rem;
    margin: auto;
}

.project-name {
    display: flex;
    flex-wrap: wrap;
    margin: .75em 0 .75em;
}

.project-name h2 {
    width: 50vw;
    margin: 0;
}

.indent-header {
    float: left;
}

.timeline-header {
    align-items: center;
    justify-content: space-around;
}

.summary,
.education,
.experience,
.skills,
.projects,
.contact,
footer {
    font-family: 'Roboto', sans-serif;
}

.summary,
.education,
.experience .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.summary-header {
    margin: 3em 0;
}

.container-heading {
    font-size: 0.946vw;
    margin-bottom: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.21vw;
    line-height: 1.8;
    position: relative;
}

/* navbar styling */

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 999;
    padding: 1.875em 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 1em 0;
    background: #79a1c2;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 1.839vw;
    font-weight: 600;
    margin-left: -.58em;
}

.navbar .logo a span {
    color: #79a1c2;
    transition: all .5s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    line-height: 1.576vw;
    color: #fff;
    font-size: 1.156vw;
    font-weight: 500;
    margin: 0.631vw 0 0 1.314vw;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #79a1c2;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 1.25em;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    display: block;
    position: fixed;
    height: 2.8em;
    width: 2.5em;
    right: 1.2em;
    text-align: center;
    justify-content: center;
    color: #fff;
    z-index: 9999;
    border-radius: 0.375em;
    background: #79a1c2;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn p {
    position: relative;
    font-size: 1.125em;
}

.scroll-up-btn i {
    position: relative;
    bottom: .9em;
    font-size: 1.8em;
}

.scroll-up-btn.show {
    bottom: 1em;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

/* summary section styling */

.summary-description,
.education-description {
    width: 65vw;
    position: block;
    border: .1875em solid #fff;
    padding: 1em;
    font-size: 1.4em;
    font-weight: 500;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: .375em;
}

.summary-description {
    margin: -3em 0 0;
}

.education-description {
    margin: -1em 0 0 0;
}

.summary-description a {
    display: inline-block;
    background: #79a1c2;
    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    padding: 0 1em;
    margin-top: .5em;
    border-radius: .375em;
    border: .125em solid #79a1c2;
    transition: all 0.3s ease;
}

.summary-description a:hover {
    color: #79a1c2;
    background: none;
}

/* experience section styling */

.timeline-centered {
    position: relative;
    width: 100%;
    margin: -2em 0 1.875em;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 100%;
    margin-top: 0.3125em;
    margin-left: 1.875em;
    margin-bottom: 0.625em;
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -1.25em;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 1.5625em;
    height: 1.5625em;
    margin-top: .1em;
    margin-left: 1em;
    background: #f5f5f5;
    border-radius: 0.125em;
    text-align: center;
    box-shadow: 0 0 0 0.125em #f5f5f5;
    -moz-box-shadow: 0 0 0 0.125em #f5f5f5;
    -webkit-box-shadow: 0 0 0 0.125em #f5f5f5;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color {
    background: #e0e0e0;
}

/* Triangle */
.timeline-label {
    position: relative;
    border: 0.1875em solid #f2f3f7;
    border-radius: 0.375em;
    padding: 1.5em;
    margin-left: 3.75em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5625em 0.5625em 0.5625em 0;
    border-color: transparent #f5f5f5 transparent transparent;
    left: 0;
    top: 0.3125em;
    margin-left: -0.5625em;
}

/* -=Triangle=- */

.timeline-label h2 {
    display: inline;
    color: #000;
    font-size: 1.051vw;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.timeline-label h3 {
    margin: .125em 0;
    font-size: 1.261vw;
}

.timeline-label span {
    display: inline;
    float: right;
    color: #000;
    font-size: 1.051vw;
    font-weight: 600;
}

.timeline-label ul {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/* education section styling */

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
    font-size: 1.051vw;
    font-family: 'Roboto', sans-serif;
}

.education-block span {
    color: black;
    float: right;
    font-size: 1.051vw;
    font-weight: 600;
}

.education-block h4 {
    color: Black;
    clear: both;
    font-size: 0.946vw;
    font-weight: 800;
    margin: 0 0 1em 0;
    padding-top: .625em;
    font-family: 'Roboto', sans-serif;
}

/* skills section styling */

/* -=toggle=- */

.toggle {
    position: absolute;
    margin: 3em 0 0 2em;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    outline: 0 !important;
    content: '';
    position: relative;
    width: 2.8125em;
    height: .9375em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    border-radius: 0.625em;
    box-shadow: 0 0 0 .25em #353535;
    transition: .5s;
}

input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 .125em #6dd1ff, 0 0 0 .25em #353535, 0 0 0 .3125em #3e3e3e, inset 0 0 .625em rgba(0, 0, 0, 1), 0 .3125em 1.25em rgba(0, 0, 0, .5), inset 0 0 .9375 rgba(0, 0, 0, .2);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5625em;
    height: .9375em;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: .625em;
    box-shadow: 0 0 0 0.0625em #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 1.25em;
}

input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: calc(50% - .125em);
    left: 1.125em;
    width: .25em;
    height: .25em;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: .125em;
    transition: .5s;
}

input:checked[type="checkbox"]:after {
    background: #63cdff;
    left: 2.3125em;
    box-shadow: 0 0 .125em #13b3ff, 0 0 .375em #13b3ff;
}

/* -=toggle=- */

.skills-field {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;    
    margin-left: 8vw;    
}

.skills-wrap h3 {    
    width: 23vw;
    margin-bottom: .25em;
    text-decoration: none;
    font-size: 1.051vw;
    font-family: 'Roboto', sans-serif;    
    transition: 0.3s;    
}

.skills-wrap h3:after {
    content: "";
    position: absolute;
    height: 2vh;
    width: 23vw;
    left: 0;
    right: 0;
    border: .5px dashed #79a1c2;
    border-radius: 0.125em;
    background-color: #79a1c2;
    opacity: .4;
    visibility: hidden;    
    transform: scaleX(0);    
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skills-wrap h3:hover:after {
    visibility: visible;    
    transform: scaleX(1);
}

.skills .wrapper {
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15.1875em;
    display: block;
    z-index: 99;
}

.blk {
    display: flex;
    position: absolute;
    width: 5.625em;
    height: 2.1875em;
    top: 12vh;
    left: 28vw;
    justify-content: center;
    align-items: center;    
    box-shadow: .625em .625em .625em rgba(0, 0, 0, 0.2);
}

/* projects section styling */

.projects .carousel .card {
    background: #D7D7D5;
    border-radius: .375em;
    padding: 1.5625em 2.1875em;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover {
    background: #79a1c2;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover .box {
    transform: scale(1.05);
}

.projects .carousel .card .text {
    font-size: 1.5625em;
    font-weight: 500;
    margin: 0.625em 0 0.4375em 0;
}

.projects .carousel .card img {
    height: 12.5em;
    width: 21.875em;
    object-fit: cover;
    border-radius: 0.3125em;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 1.25em;
}

.owl-dot {
    height: 0.8125em;
    width: 0.8125em;
    margin: 0 0.3125em;
    outline: none !important;
    border-radius: 50%;
    border: .125em solid #79a1c2 !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 2.1875em;
    border-radius: 0.875em;
}

.owl-dot.active,
.owl-dot:hover {
    background: #79a1c2 !important;
}

/* contact section styling */

.contact .contact-content .column {
    width: calc(50% - 1.875em);
}

.contact .contact-content .text {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: .625em;
}

.contact .contact-content .row {
    display: flex;
    height: 4.0625em;
    align-items: center;
}

.contact .contact-content .row i {
    font-size: 1.5625em;
    color: #79a1c2;
}

.contact .contact-content .row .info {
    margin-left: 1.875em;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 2.8125;
    width: 100%;
    margin-bottom: .9375em;
}

.contact .right form .textarea {
    height: 5em;
    width: 100%;
}

.contact .right form .name {
    margin-right: .625em;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 0.0625em solid lightgrey;
    border-radius: 0.375em;
    outline: none;
    padding: 0 0.9375em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 0.625em;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    color: #fff;
    display: block;
    width: 10em !important;
    height: 2.8125em;
    outline: none;
    font-size: 1.125em;
    font-weight: 500;
    border-radius: 0.375em;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #79a1c2;
    border: 0.125em solid #79a1c2;
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    color: #79a1c2;
    background: none;
}

/* footer section styling */

footer {
    padding: 0.9375em 1.4375em;
    color: #111;
    text-align: center;
    opacity: .9;
}

footer span a {
    color: #79a1c2;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.social_media {
    display: flex;
    flex-direction: column;
}

.social_media a {
    border-radius: 3.125em;
    margin: 0 0.625em 0.3125em 0.625em;
    overflow: hidden;
    cursor: pointer;
}

.social_media a:hover {
    background-color: linear-gradient(110deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    animation: rotate 1s linear infinite;
}